@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	color: $text

.grid
	display: grid
	grid-template-columns: 1fr 1fr
	grid-template-areas: "left right"
	+media-breakpoint-up(md)
		&:not(.resizer-social-options-container)
			> div:first-child
				grid-area: left
			> div:last-child
				grid-area: right

	+media-breakpoint-down(sm)
		&:not(.resizer-social-options-container)
			grid-template-columns: 100%
			// grid-template-rows: 50%
			grid-template-rows: 100% 400px
			grid-template-areas: initial

	&.resizer-social-options-container
		grid-gap: 100px
		padding: 0
		+media-breakpoint-down(lg)
			grid-gap: 50px
		+media-breakpoint-down(md)
			grid-gap: 20px
		+media-breakpoint-down(sm)
			grid-gap: 5px
		.resizer-social-option

.img
	width: 100%

.parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

.editor-container 
	height: 100vh
	overflow: hidden
	+media-breakpoint-down(md)
		overflow: auto

.video-wrapper-container
	text-align: center
	background: $ruby
	color: white

.video-wrapper 
	padding: 5%

.resizer-fit-preview1
	position: relative
	top: 50%
	transform: translateY(-50%)

.video-wrapper,
#dropzone,
.dropzone,
.resizer-social-options-container
	width: 100%
	height: 100%


.video-uploaded
	display: none
	width: 50%
	height: 200%
	position: relative
	+media-breakpoint-down(sm)
		width: 80%

.device-frame
	width: 100%
	// padding-bottom: 200%
	// height: 0
	height: 100%
	padding-left: calc(100%/446*37)
	padding-right: calc(100%/446*33)
	background-image: url(../img/iphone.svg)
	background-size: contain
	background-repeat: no-repeat
	background-position: center
	position: relative
	overflow: hidden

.resizer-fit-preview
	// overflow: hidden
	position: relative
	// padding-top: 100%
	width: 100%
	// height: 100%
	// position: absolute
	// left: 0

.resizer-fit-video
  width: 100%
  height: 100%
  display: block

.resizer-fit-11
  // width: 450px
  // height: 450px
  // height: 16.5%

.resizer-fit-916
  // width: 294px
  // height: 522px

.resizer-fit-169
  // width: 522px
  // height: 294px

.resizer-fit-45
  // width: 400px
  // height: 500px

.resizer-fit-54
  // width: 500px
  // height: 400px

.resizer-fit-820312
  // width: 560px
  // height: 213px

.video-preview-container
	// padding: 100% 0
	// display: flex

/* DROPZONE BEGIN */

.dropzone
	background: transparent
	border-radius: 5px
	border: 5px dashed #ffffff
	border-image: none
	margin-left: auto
	margin-right: auto
	.dz-message
		margin: 0

.dz-message
	text-transform: uppercase
	font-size: 2.1vw
	+media-breakpoint-down(sm)
		font-size: 3.9vw
	span.note
		font-size: 3.2em

.dz-preview,
.dz-message,
.resize-social-option-name,
	position: relative
	top: 50%
	transform: translateY(-50%)

.dropzone .dz-preview.dz-image-preview,
.dropzone .dz-preview .dz-details .dz-filename span, 
.dropzone .dz-preview .dz-details .dz-size span,
.dropzone .dz-preview.dz-file-preview .dz-image
	background: none

/* DROPZONE END */

.video-wrapper,
.radio-label,
.device-frame
	display: flex
	align-items: center
	justify-content: center


.resizer-social-option 
	list-style: none
	max-width: 170px
	max-height: 170px
	width: 100%
	height: 100%
	label
		width: 100%
		height: 100%
		border-radius: 50%
		text-align: center
		position: relative
		color: white
		font-size: 3vw
		+media-breakpoint-up(lg)
			max-width: 12vw
			max-height: 12vw

		background: $gray
		&.color
			background: $ruby
		&.checked
			background: $gray
	&.right
		justify-self: end
	&.bottom
		align-self: end

input[type="radio"]
  display: none

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 375px)
	.resizer-social-option
		max-width: 90px
		max-height: 90px

.box
	display: inline-block
	position: absolute
	width: 50%
	height: 100%

.progress
	width: 100px
	height: 100px
	display: flex
	align-items: center
	justify-content: center

	overflow: auto
	margin: auto
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0

	font-size: 2rem

.progress > .inner
	position: absolute
	color: white

.progress > svg
	height: 100%
	display: block