@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $ruby
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	// min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	color: $text
	&:after
		// content: ""
		// url("../img/fullscreen.svg")
		position: absolute
		width: 100%
		height: 100%
		top: 0
		// background-image: url("../img/fullscreen.svg")
		background-size: cover
		background-size: 100%
		background-position: center
		opacity: 0.8
		z-index: -10

.grid
	position: relative
	display: grid
	grid-template-columns: 1fr 1fr
	grid-template-areas: "left right"
	+media-breakpoint-up(md)
		&:not(.resizer-social-options-container)
			> div:first-child
				grid-area: left
			> div:last-child
				grid-area: right

	+media-breakpoint-down(sm)
		&:not(.resizer-social-options-container)
			grid-template-columns: 100%
			// grid-template-rows: 50%
			grid-template-rows: 100% 500px
			grid-template-areas: initial

	&.resizer-social-options-container
		// grid-gap: 100px
		// padding: 20vh 5vw
		+media-breakpoint-down(lg)
			// grid-gap: 50px
		+media-breakpoint-down(md)
			// grid-gap: 20px
		+media-breakpoint-down(sm)
			// grid-gap: 5px
			// padding: 5vh 5vw

.img
	width: 100%

.parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

.editor-container 
	height: 100vh
	overflow: hidden
	+media-breakpoint-down(md)
		overflow: auto

.video-wrapper-container
	text-align: center
	background-color: $ruby
	color: white

.video-wrapper #dropzone
	padding: 2%
	.dz-message
		// line-height: 10vh

.video-wrapper,
#dropzone,
.dropzone,
.resizer-social-options-container
	width: 100%
	height: 100%
	position: relative

.video-uploaded
	display: none
	width: 50%
	// width: calc(90vh*446/893)
	width: calc(90vh*414/893)
	height: 100%
	position: relative
	+media-breakpoint-down(md)
		width: calc(100vh/1.5*414/893)
	+media-breakpoint-down(sm)
		width: calc(90vh*414/893)
	+media-breakpoint-down(xs)
		width: calc(120vw*414/893)

.device-frame
	width: 100%
	// padding-bottom: 200%
	// height: 0
	height: 100%
	padding-left: calc(100%/446*37)
	padding-right: calc(100%/446*33)
	// padding-top: calc(100%/893*110)
	// padding-bottom: calc(100%/893*110)
	&:before,
	&:after
		content: ""
		width: 100%
		height: 100%
		display: block
		position: absolute
		background-size: 100%
		background-repeat: no-repeat
		background-position: center
		left: 0
		right: 0
	&:before
		// background-image: url(../img/screen.svg)
		background-image: url(../img/iphone.svg)
		// opacity: 0.051
		// width: 85%
		// background-color: white
	&:after
		background-image: url(../img/iphone-with-window-orange.svg)
		z-index: 100

		// background-image: 
	position: relative
	overflow: hidden
	// background-color: white

	svg
		width: 100%
		height: 100%
		position:absolute

.workspace-controls
	position: relative
	&.hideconsole
		.console
			display: none
		.resizer-social-options-container
			height: 100%


.console
	position: absolute
	bottom: 0
	width: 100%
	z-index: 2000
	padding: 0 4vmin
	.msg
		width: 100%
		height: 12vh
		font-size: 1.9vw
		font-weight: 700
		color: $ruby
		// overflow-y: scroll
		overflow: hidden;
		line-height: 1.2
		padding: 1vmin 1.5vmin
		+media-breakpoint-down(sm)
			font-size: 4vw
	&:before
		display: block
		content: ""
		// background-color: $ruby
		background-image: linear-gradient(to left, $ruby 73%, $ruby00 0%)
		background-position: bottom
		background-size: 50px 8px
		background-repeat: repeat-x
		width: 150px
		height: 8px
		position: absolute
		// bottom: 17vh
		top: -1vh


.resizer-fit-preview
	position: relative
	width: 100%
	clip-path: inset(0 0 0 0)
	&.bgblack
		background-color: #f6f6f6

.screen
	position: relative
	width: 100%
	// clip-path: inset(0 0 0 0)
	// mask-image: url(../img/screen.svg)
	// mask-size: 50%
	// mask-repeat: no-repeat
	// -webkit-mask-box-image: url(http://jsbin.com/laday.svg)
	// max-height: 270px
	// overflow: hidden
	// height: 100%
	// mask-size: 85%
	// mask: (#screen-mask)

.facebook
	position: relative
	width: 100%
	// clip-path: inset(0 0 0 0)
	&:before,
	&:after
		display: block
		content: url(../img/facebook.svg)
		position: relative
		left: 0
		// background-image: url(../img/facebook.svg)
		background-size: 100%
		background-repeat: no-repeat
		height: 100%
		width: 100%
		z-index: 100
	&:before
		transform: translateY(-10px)
		background-position-y: bottom
	&:after
		transform: translateY(10px)



.resizer-fit-V
	padding-bottom: 177.77%
.resizer-fit-H
	padding-bottom: 56.25%
.resizer-fit-S
	padding-bottom: 100%
.resizer-fit-F
	padding-bottom: 125%
	
.resizer-fit-video
	width: 100%
	height: 100%
	display: block
	position: absolute
	&.first
		z-index: 1
	&.cover
		object-fit: cover
	&.blur
		object-fit: cover
		filter: blur(10px)
		transform: scale(1.2)
	&.second
		z-index: 0


/* DROPZONE BEGIN */

.dropzone
	background: transparent
	border-radius: 5px
	border: 5px dashed #ffffff
	border-image: none
	margin-left: auto
	margin-right: auto
	.dz-message
		margin: 0

.dz-message
	text-transform: uppercase
	font-size: 2.1vw
	+media-breakpoint-down(sm)
		font-size: 3.9vw
	span.note
		font-size: 3.2em
		text-decoration: underline

.dz-preview,
.dz-message,
.resize-social-option-name,
	position: relative
	top: 50%
	transform: translateY(-50%)

.dropzone .dz-preview.dz-image-preview,
.dropzone .dz-preview .dz-details .dz-filename span, 
.dropzone .dz-preview .dz-details .dz-size span,
.dropzone .dz-preview.dz-file-preview .dz-image
	background: none

/* DROPZONE END */

.video-wrapper,
.radio-label,
.device-frame,
.resizer-social-option 
	display: flex
	align-items: center
	justify-content: center
.resizer-social-option 
	list-style: none
	position: relative
	label.disable
		position: absolute
		transform: translate(-50%,-50%)
		top: 50%
		left: 50%
	label



.resizer-social-options-container
	padding: 14vmin 7vmin
	transition: height .3s ease
	// padding-bottom: 20vh
	// height: 80%
	&.firstH,
	&.firstS,
	&.firstV,
	&.firstF
		.stepA label
			svg path
				fill: white
			color: white
			text
				fill: white
	&.firstH
		.stepA:nth-child(2) // H
			order: 1
			font-weight: 700
		.stepA:nth-child(3) // S
			order: 2
		.stepA:nth-child(4) // V
			order: 3
		.stepA:nth-child(5) // F
			order: 4
	&.firstS
		.stepA:nth-child(2)
			order: 3
		.stepA:nth-child(3)
			order: 1
			font-weight: 700
		.stepA:nth-child(4)
			order: 4
		.stepA:nth-child(5)
			order: 2
	&.firstV
		.stepA:nth-child(2)
			order: 2
		.stepA:nth-child(3)
			order: 4
		.stepA:nth-child(4)
			order: 1
			font-weight: 700
		.stepA:nth-child(5)
			order: 3
	&.firstF
		.stepA:nth-child(2)
			order: 4
		.stepA:nth-child(3)
			order: 3
		.stepA:nth-child(4)
			order: 2
		.stepA:nth-child(5)
			order: 1
			font-weight: 700

.resizer-social-option 
	order: 4
	.color:hover
		// background-color: $french-rose
		circle
			fill: $french-rose
	label
		// border: 2px $border solid
		width: calc(100vmin/3.7)
		height: calc(100vmin/3.7)
		font-size: 2.5vmax
		// border-radius: 50%
		text-align: center
		position: relative
		svg path
			fill: white
		color: white
		margin: 0
		line-height: 0
		// background-color: $gray
		circle
			fill: $gray
		+media-breakpoint-up(lg)
			// max-width: 12vw
			// max-height: 12vw
		+media-breakpoint-down(md)
			width: calc(100vw/3.7)
			height: calc(100vw/3.7)
			max-width: 20vw
			max-height: 20vw
		+media-breakpoint-down(sm)
			width: calc(100vw/3)
			height: calc(100vw/3)
			font-size: 1.7rem
		svg
			width: 100%
			height: auto
		text
			fill: white
		input[value="H"]+svg text
			transform: translate(15%, 85%)
			font-size: 100px
		input[value="S"]+svg text
			transform: translate(19%, 85%)
			font-size: 100px
		input[value="V"]+svg text
			transform: translate(18%, 90%)
			font-size: 100px
		input[value="F"]+svg text
			transform: translate(20%, 85%)
			font-size: 100px
		input[value="render"]+svg text
			transform: translate(3%, 62%)
			font-size: 30px
		input[value="crop"]+svg text
			transform: translate(3%,63%)
			font-size: 36px
		input[value="blur"]+svg text
			transform: translate(5%,63%)
			font-size: 36px
		input[value="new"]+svg text
			transform: translate(5%,65%)
			font-size: 41px

		&.download
			// background: center center no-repeat / 60% url(../img/download.svg) $gray
		&.share
			// background: center 40% no-repeat/50% url(../img/share.svg) $gray
		&.yadisk
			// background: center center no-repeat/80% url(../img/yandex-disk.svg) $gray
		&.color
			// background-color: $ruby
			circle
				fill: $ruby
			cursor: pointer
		&.colortext
			svg path
				fill: $ruby !important
			color: $ruby !important
			text
				fill: $ruby !important
			cursor: pointer
			&:hover
				svg path
					fill: $french-rose !important
					stroke: $french-rose !important
				color: $french-rose !important
				text
					fill: $french-rose !important
		&.checked
			font-weight: 700
			svg path
				stroke-width: 1.5%
				stroke: white
		&.checked.colortext
			svg path
				stroke-width: 3%
				stroke: #e91e63
	&.stepA label
		svg path
			fill: $ruby00
		color: $ruby00
		text
			fill: $ruby00
		font-size: 9vw
		// font-size: 9vh
		+media-breakpoint-down(sm)
			font-size: 15vmin

.horizont
	.resizer-social-option
		&.stepA label
			font-size: 9vw
		label
			font-size: 14vh

input[type="radio"]
  display: none

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 375px)
	.resizer-social-option label
		max-width: 90px
		max-height: 90px

.hide
	display: none

.show
	display: flex


.box,
.progress
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0

.progress
	width: 13.5vmin
	height: 13.5vmin
	display: flex
	align-items: center
	justify-content: center
	overflow: hidden
	margin: auto
	font-size: 2rem
	z-index: 1000
	&:not(.disable)
		cursor: pointer
	&.flipH
		transform: scaleX(-1)
	> .inner,
	> .inner:before,
	> .inner:after
		position: absolute
		width: 9.5vmin
		height: 7px
		border-radius: 4px

	> .inner
		color: white
		transform: rotate(45deg)
		z-index: 1
		&:before,
		&:after
			display: block
			content: ""
			background-color: #fff
		&:before
		&:after
			bottom: 0
			transform: rotate(-90deg)
	&:hover
		.progress-ring circle:last-child
			stroke: $french-rose
	.progress-ring
		width: 100%
		height: 100%
		display: block
		circle:first-child
			stroke: $border
		circle:last-child
			stroke: $ruby
		.progress-ring__circle,
			transform-origin: center
			transform: rotate(-90deg)
			transition: all 0.3s ease-out
